<div class="container">
    <div class="row mt-4" style="display: flex;">  
        <ng-container *ngIf="citiesData&&citiesData.length>0&&!isChildShow">
            <ng-container *ngFor="let city of citiesData ">    
                <div class="card" (click)="showDetails(city) " >
                    <div class="card-body">
                      <h5 class="card-title">{{city.name}}</h5>
                      <p>Temperature: <em>{{city.main.temp}}</em> </p>
                      <p class="flex-context"><span>Sunrise: <em>{{city.sys.sunrise|customDate}}</em> </span>
                        <span>Sunset: <em>{{city.sys.sunset|customDate}}</em> </span></p>
                      </div>
                  </div>        
            </ng-container>      
        </ng-container>
        <ng-container *ngIf="isChildShow">
              <app-city-details [cityData]="childData"></app-city-details>
        </ng-container>
         
    </div>
</div>